.heading2{
    color: red;
    font-style: italic;
}

.red{
    color: red;
    line-height: 40px;
}

.redd{
    color: red;
    font-style: italic;
}

.r{
    color: red;
    letter-spacing: 7px;
}

.re{
    color: red;
}

.h2{
    color: red;
    background-color: yellow;
    font-style: italic;

}